<%= form_with(model: rede, class: "contents") do |form| %>
  <% if rede.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(rede.errors.count, "error") %> prohibited this rede from being saved:</h2>

      <ul>
        <% rede.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% if rede.token %>
  <p class="my-5">
    <strong class="block font-medium mb-1">Token:</strong>
    <%= rede.token %>
  </p>
  <% end %>


  <div class="inline">
    <%= form.submit "Salvar Rede", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
